.app-container {
  text-align: center;
}

.pip-container {
  font-size: 40px;
}

.controls {
  cursor: pointer;
  user-select: none;
}

.pip-input{
  border: 0;
  border-bottom: 1px solid;
  font-size: 40px;
  text-align: center;
  width: 50px;
  outline: none;
  color: gray;
}

.pip-input::-webkit-inner-spin-button, 
.pip-input::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.button {
  height: 50px;
  width: 150px;
  font-weight: bold;
  font-size: 30px;
  border: 0;
}

.red {
  background: red;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}